@font-face {
  font-family: Strawford;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(''), url(/assets/fonts/strawford/strawford-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: Strawford;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''), url(/assets/fonts/strawford/strawford-medium-webfont.woff2) format('woff2');
}

@font-face {
  font-family: Strawford;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local(''), url(/assets/fonts/strawford/strawford-bold-webfont.woff2) format('woff2');
}