@font-face {
  font-family: Geomanist;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(''), url(/assets/fonts/geomanist/geomanist-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: Geomanist;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''), url(/assets/fonts/geomanist/geomanist-book-webfont.woff2) format('woff2');
}

@font-face {
  font-family: Geomanist;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local(''), url(/assets/fonts/geomanist/geomanist-bold-webfont.woff2) format('woff2');
}