/* A blank block because there is *always* a button */
.button {
  padding: 0.125em 0.5em;
  text-decoration: none;
  border: 1px solid var(--color-dark);
}

.button:is(:hover, :focus) {
  text-decoration: underline;
}