/* A blank block because there is *always* a button */

.tagButton {
  font-size: var(--size-step-0);
  color: black;
  display: inline;
  background-color: yellow;
  padding: 0.25em 0.75em;
  margin: 0.25em;
  border-radius: 10px;
  border: 1px solid transparent;
}

.tagButton a {
  text-decoration: none;
}

.tagButton:hover {
  background-color: transparent;
  color: yellow;
  border: 1px solid yellow;
}