.hero {
  background-image: linear-gradient(115deg,
      hsl(300deg 18% 24%) 0%,
      hsl(290deg 20% 30%) 11%,
      hsl(279deg 22% 35%) 22%,
      hsl(269deg 24% 40%) 33%,
      hsl(259deg 26% 45%) 44%,
      hsl(248deg 28% 50%) 56%,
      hsl(238deg 37% 55%) 67%,
      hsl(227deg 48% 59%) 78%,
      hsl(217deg 62% 64%) 89%,
      hsl(207deg 79% 68%) 100%);
  color: var(--color-light);
}

/* .hero {
background-image: linear-gradient(to top, #e6e6e6, rgba(230, 230, 230, .7)), url("https: //imagedelivery.net/EMW1z-rv9ewS_YEY8Xvwog/bdd1ecd9-2266-4eb0-e4e3-2d7a90198800/background");
  background-position: 0 0, 0 0;
  background-size: auto, cover;
} */