.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--space-xs);
  row-gap: var(--space-xs);
}

.tag-list a {
  text-decoration: none;
}

.tag-list a:hover {
  text-decoration: underline;
}

.tag-list li {
  background-color: var(--color-secondary-glare);
  color: var(--color-dark);
  padding: 0.25em 0.85em;
  border-radius: 0.75em;
  font-size: var(--size-step-minus1);
  letter-spacing: 0.0625em;
}

/* TODO: make the tags clickable and hover-able */