.gradient-text {
  color: transparent;
  background: linear-gradient(135deg,
      hsl(16deg 94% 61%) 0%,
      hsl(14deg 91% 61%) 11%,
      hsl(13deg 87% 60%) 22%,
      hsl(11deg 84% 59%) 33%,
      hsl(9deg 81% 59%) 44%,
      hsl(8deg 77% 58%) 56%,
      hsl(6deg 74% 58%) 67%,
      hsl(4deg 70% 57%) 78%,
      hsl(2deg 67% 56%) 89%,
      hsl(0deg 64% 55%) 100%);
  padding: 0.6rem 0;
  background-clip: text;
}