.gradient-text {
  color: transparent;
  background: linear-gradient(120deg,
      hsl(300deg 18% 24%) 0%,
      hsl(290deg 20% 30%) 11%,
      hsl(279deg 22% 35%) 22%,
      hsl(269deg 24% 40%) 33%,
      hsl(259deg 26% 45%) 44%,
      hsl(248deg 28% 50%) 56%,
      hsl(238deg 37% 55%) 67%,
      hsl(227deg 48% 59%) 78%,
      hsl(217deg 62% 64%) 89%,
      hsl(207deg 79% 68%) 100%);
  padding: 0.6rem 0;
  background-clip: text;
}

