.toc {
  padding: var(--space-s) var(--space-l);
  font-size: var(--size-step-1);
}

.toc > ol, ul {
  margin: 0;
  padding: 0;
  list-style: decimal;
  display: grid;
  gap: 0.125rem;
  font-weight: 600;
}

.toc * ol, ul {  
  margin: 0;
  padding: 0em 1em;
  list-style: none;
  display: grid;
  gap: 0.125rem;
  font-weight: 300;
}
