.blog .decoration {
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius);
}

.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}

.blog img {
  width: 100%;
  height: 100%;
}

.font-display {
  font-size: var(--size-step-minus1);
}

.blog aside,
.blog .table-of-contents {
  --border-width: 0.2rem;
  --border: var(--border-width) solid #999;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);
  padding-inline: var(--space-s-m);
  position: relative;
  color: var(--color-text);
  background-color: var(--color-bg);
}


.blog aside {
  padding-inline-start: var(--space-l-xl);
  padding-block: var(--space-s-m);
}



.blog hr.footnotes-sep {
  border-top: 1px var(--color-text);
  width: 100%;
}

.blog .footnotes {
  font-size: var(--size-step-0);
}

.blog .footnote-backref,
.blog .footnote-ref a {
  text-decoration: none;
}

.blog .footnotes a {
  word-wrap: break-word;
}

.blog .footnote-ref {
  opacity: 0.9;
  font-family: var(--font-mono);
  color: var(--color-primary);
}

.blog .footnote-backref {
  font-size: var(--size-step-1);
  font-weight: bold;
}

.gist {
  background-color: white;
  padding: var(--space-s);
  border-radius: 1rem;
}