---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner region">
    <div class="wrapper grid" data-layout="50-50">
      <h1 style="font-size: var(--size-step-4)">{{ meta.siteDescription }}</h1>
      <div>
        <p style="text-align: right; font-weight: 600">Latest Trial Summaries</p>
        <ul class="unordered-none flow">
          {% set postslist = collections.trials %}
          {% for post in postslist.slice(0, 3) %}
            {% include "partials/card-home.njk" %}
          {% endfor %}
        </ul>
        <p style="text-align: right; font-weight: 600">View all summaries <a href="/trials">here</a>.</p>

    </ul>
  </div>
</div>

</div>
{% include 'svg/divider-edgy.svg' %}
</header>

<article class="region" style="--region-space-top: var(--space-s)"></article>