---
layout: base
---

<header class="section hero">
  <div class="region">
    <div class="wrapper with-sidebar">
      <h1 style="font-size: var(--size-step-4)">{{ meta.siteDescription }}</h1>
      <div class="flow">
        <p style="text-align: left; font-size: var(--size-step-code)">Latest Trial Summaries</p>
        <ul class="unordered-none grid" role="list" data-rows='masonry' data-layout="card-home">
          {% set postslist = collections.trials %}
          {% for post in postslist.slice(0, 3) | sort(attribute = "datePosted") %}
            {% include "partials/card-home.njk" %}
          {% endfor %}
        </ul>

    </ul>
  </div>
</div>

</div>
{# {% include 'svg/divider-edgy.svg' %} #}
</header>