---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <h1>{{ meta.siteDescription }}</h1>
      <div class="wrapper">
        <p>Latest Trial Summaries</p>
        <ul class "wrapper grid">
          {% set postslist = collections.trials %}
          {% for post in postslist.slice(0, 4) %}
            <li class = "card flow ">
              <div class "flex">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                {% set definedDate = post.data.datePublished %}
                <div>Published: <span>{% include "partials/date.njk" %}</span></div>
              </div>
              <ul>
                {% for tag in post.data.tags %}
                  <li>
                    <a href="/tag/{{ tag | slug }}/">#{{ tag }}</a>
                  </li>
                {% endfor %}
              </ul>
              <div>{{ post.data.pico }}</div>
            </li>
          {% endfor %}
        </ul>
    </ul>
  </div>
</div>

</div>
{% include 'svg/divider-edgy.svg' %}
</header>

<article class="region" style="--region-space-top: var(--space-s)"></article>