---
layout: base
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    <ul class="cluster">
      {% for item in tags | filterTagList %}
        <a href="/tag/{{ item | slug }}">{{ item }}</a>
      {% endfor %}
    </ul>
    <ul class="cluster"></ul>
    {% set definedDate = datePublished %}
    <ul class="cluster">
      <li>
        <strong>Published</strong>: {% include "partials/date.njk" %}</li>
      <li>
        <strong>Journal</strong>: {{ journal }}
      </li>
      <li>
        <strong>PMID</strong>
        <span>:  </span>
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}">{{ pmid }}</a>
      </li>
      <li>
        <strong>Trial Registration</strong>: <a href="{{ nctLink }}">{{ nctID }}</a>
      </li>
    </ol>
    {{ content | safe }}
  </div>
</article>

<!-- include blogpost schema  -->
{%- include "schemas/blogpost-schema.njk" %}