---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="region" style="--region-space-top: var(--space-s)">
  <!-- TODO: duplicate of trials.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.trials %}
    {% for post in postslist %}

      <li class="card flow overflow-hidden">
        <h3>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h3>
        {# <ul>
          {% for tag in post.data.tags %}
            <li>
              <a href="/tag/{{ tag | slug }}/">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul> #}
        {% set definedDate = post.data.datePublished %}
        <p>Published: <span>{% include "partials/date.njk" %}</span></p>
        <p>Journal: <span>{{ post.data.journal }}</span></p>
        <p>{{ post.data.pico }}</p>
      </li>
    {% endfor %}
  </ul>
</article>