<li class="card card-home flow overflow-hidden flexBetween">
  <div class="cluster">
    <h2 style="font-size: var(--size-step-1)">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>

    {% set definedDate = post.data.datePublished %}

    <p style="font-size: var(--size-step-code)">
      <strong>Published</strong>: {% include "partials/date.njk" %}</p>
    <p style="font-size: var(--size-step-code)">
      <strong>Journal</strong>: {{ post.data.journal }}</p>
  </div>
  <ul class="unordered-none tag-list cluster">
    {% for tag in post.data.tags %}
      <li style="font-size: var(--size-step-code)">
        {{ tag }}
      </li>
    {% endfor %}
  </ul>
</li>