<li class="card flow overflow-hidden flex-card-column">
  <h2 style="font-size: var(--size-step-2)">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h2>

  {% set definedDate = post.data.datePublished %}

  <span style="font-size: var(--size-step-code)">
    <strong>Published</strong>: <span>{% include "partials/date.njk" %}</span></span>
  <span style="font-size: var(--size-step-code)">
    <strong>Journal</strong>: {{ post.data.journal }}</span>
  <ul class="unordered-none tag-list">
    {% for tag in post.data.tags %}
      <li style="font-size: var(--size-step-minus1)">
        {{ tag }}
      </li>
    {% endfor %}
  </ul>
</li>