<div class="region gist">
  <div class="flow prose content wrapper">
    <h2 id="gist">
      <a class="heading-anchor" href="#gist">The Gist</a>
    </h2>
    <p>{{ gist | md | safe }}</p>
  </div>
</div>