<div class="cluster">
  <h2 id="table-of-contents">Contents</h2>
  <p style="font-size: var(--size-step-code)">Estimated reading time: {{ helpers.getReadingTime(content) }} minutes</p>
</div>
{{ content | toc | safe }}